<%= form_for @guild_info do |f| %>
<div class="field">
  <%= f.label :name, 'Guildname' %><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :server, 'Server' %><br />
  <%= f.text_field :server, autofocus: true %>
</div>

<div class="actions">
  <%= f.submit "Submit" %>
</div>
<% end %>
