<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "WoW Party Builder" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="layer">
      <header>
        <%= render "layouts/navbar" %>
        <%= render "layouts/flash" %>
      </header>
      <% if session[:user_id]%>
        <%= render "layouts/party_instructions" %>
        <%= render "guilds/guild_form", locals: {us_server_list: @us_realm_list} %>
      <% else %>
        <%= render "layouts/signed_out" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
