<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="top-bar">
        <div class="top-bar-section ">
          <%= render "layouts/navbar" %>
        </div>
        <%= render "layouts/flash" %>
      <div>
        <% if session[:user_id] %>
          <%= render "guilds/guild_form", locals: {us_server_list: @us_realm_list} %>
        <% end %>
      </div>
    </header>
    
    <%= yield %>

  </body>
</html>
